table{
    font-family: sans-serif;
    margin: 40px;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption {
    border: 1px solid black;
    padding: 2px;
}

caption{
    border-bottom: 0;
    font-weight: 700;
}

.weekend {
    color: #ff0000;
}